{
  "presets": ["react-native"],
  "env": {
    "development": {
      "plugins": [ "transform-remove-console" ]
    },
    "production": {
      "plugins": ["ignite-ignore-reactotron","transform-remove-console"]
    }
  }
}
